<header class="blog-header">
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
    <div class="custom-links">
        <a href="https://twitter.com/theharrisjose" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/harrisjose" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
        <a href="/rss/"><i class="fa fa-rss"></i></a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/">Home</a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/about/">About</a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/recommended/">Recommended Reading</a>
    </div>
    <hr class="seperator">
</header>