{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{> header}}

<main class="content" role="main">
    <article class="{{post_class}}">
        {{#post}}
        <section class="post-content">
            <a name="topofpage"></a>
            {{content}}
        </section>

        <footer class="post-footer">

            <section class="share">
                <a class="fa fa-lg fa-twitter" href="https://twitter.com/theharrisjose">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="fa fa-lg fa-github" href="https://github.com/harrisjose">
                    <span class="hidden">Github</span>
                </a>
                <a class="fa fa-lg fa-linkedin-square" href="https://www.linkedin.com/in/harrisjose/">
                    <span class="hidden">Linked In</span>
                </a>
            </section>

        </footer>
        {{/post}}
    </article>
</main>

{{> footer}}
